.App {
  text-align: center;
}

div {
    background: linear-gradient(#e66465, #9198e5);
    background-attachment:fixed;
    height:100%;
    animation-name: clean;
    animation-duration: 5s;
    font-family: "Comic Sans MS";
    font-size: 1.6rem;
    color: yellow;
    overflow: auto;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes clean {
  from {filter: hue-rotate(0deg);}
  to {filter: hue-rotate(359deg);}
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
